@import url(../default.css);
html, body { overflow-y: clip; }

#game {
  width: max(100%, 100vw);
  height: max(100%, 100vh);
  top: 0;
}

#play-menu {
  /* Sizing and color */
  width: 45rem;
  height: 35rem;
  border: 1.25rem solid #b08f54;
  border-radius: 5rem;
  background-color: #dcb369;
  /* Generation */
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  /* Positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}